<div>
    <div>
    	<h1>Gossiping</h1>
    	<p><a href='/rank/Gossiping'>rank</a></p>
    	<p><a href='/links/Gossiping'>list</a></p>
    </div>
    <div>
    	<h1>beauty</h1>
    	<p><a href='/rank/beauty'>rank</a></p>
    	<p><a href='/links/beauty'>list</a></p>
    </div>
    <div>
    	<h1>joke</h1>
    	<p><a href='/rank/joke'>rank</a></p>
    	<p><a href='/links/joke'>list</a></p>
    </div>
    <div>
    	<h1>StupidClown</h1>
    	<p><a href='/rank/StupidClown'>rank</a></p>
    	<p><a href='/links/StupidClown'>list</a></p>
    </div>
</div>