<div>
<p>致力於當一個鍵盤觀察家</p>
<p>最近更新：</p>

</div>

<ul data-role="listview" data-inset="true">
    <li>
        <a href="board_select/rank">討論排行</a>
    </li>
    <li>
        <a href="board_select/links">連結狀況</a>
    </li>
    <li>
        <a href="board_select/keyword">關鍵字</a>
    </li>
</ul>    
