

<%  

function groupHtml(data) {
    for(var i=0; i < data.length; ++i) {
      %>
    <p><a href='/grouplist/<%=board_id%>/<%= data[i]['_id'] %>'><%= data[i]['key'] %></a>  </p>
    <p>score <%=data[i]['score']%></p>
  <%}
} %>


<h1>群組排行</h1>
<div>
<% groupHtml(rank) %>

</div>
